<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <title><%= title; %></title>
        <link href="/reset.css" rel="stylesheet" />
        <link href="/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="/chat.css" rel="stylesheet" />
    </head>
    <body style="font-family:Verdana">
        <script type="text/template" id="user-table-template">
            <%- userTableTemplate; %>
        </script>
        <script type="text/template" id="system-message-template">
            <%- sysMessageTemplate; %>
        </script>
        <script type="text/template" id="message-template">
            <%- messageTemplate; %>
        </script>
        <div class="container">
            <div class="row " style="padding-top:10px;">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading upper">
                            [<%-name%>] <%- texts.history_title; %>
                        </div>
                        <div class="panel-body">
                            <ul class="media-list"></ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="<%= texts.placeholder_messafe_input; %>" />
                                <input type="hidden" name="id" value="<%= id; %>" />
                                <span class="input-group-btn">
                                    <button class="btn smile-show-btn"><img src="/smile.png" alt="" /></button>
                                    <button class="btn btn-info upper send" type="button"><%= texts.send_button; %></button>
                                </span>
                            </div>
                        </div>
                        <div id="smiles" style="display:none">
                            <% for(var i=0;i < smiles.length; i++) {%>
                                <img src="/smiles/<%= smiles[i]; %>" alt=""/>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading upper">
                            <%= texts.users_online_title; %>: <span class="users_count">0</span>
                        </div>
                        <div class="panel-body">
                            <ul class="media-list"></ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/lodash/index.js"></script>
        <script type="text/javascript" src="/chat.js"></script>
    </body>
</html>
