<li style="display:none" class="media" data-id="<%-delete_id%>">
    <div class="media-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" style="max-height:40px;" src="/avatars/<%-avatar%>.png" />
            </a>
            <div class="media-body" >
                <h5><%-name%> | <%-status%> </h5>
                <small class="text-muted"><%-active%>: <%-date%></small>
            </div>
        </div>
    </div>
</li>